USE [Biblio]
GO
/****** Object:  Trigger [Libro_Insertado]    Script Date: 02/11/2019 22:59:21 ******/
DROP TRIGGER [dbo].[Libro_Insertado]
GO
/****** Object:  StoredProcedure [dbo].[libros_salidos_de]    Script Date: 02/11/2019 22:59:21 ******/
DROP PROCEDURE [dbo].[libros_salidos_de]
GO
/****** Object:  StoredProcedure [dbo].[libros_Harry]    Script Date: 02/11/2019 22:59:21 ******/
DROP PROCEDURE [dbo].[libros_Harry]
GO
/****** Object:  StoredProcedure [dbo].[libros_dañados]    Script Date: 02/11/2019 22:59:21 ******/
DROP PROCEDURE [dbo].[libros_dañados]
GO
/****** Object:  StoredProcedure [dbo].[libros_2009]    Script Date: 02/11/2019 22:59:21 ******/
DROP PROCEDURE [dbo].[libros_2009]
GO
/****** Object:  StoredProcedure [dbo].[empleados_nuevos]    Script Date: 02/11/2019 22:59:21 ******/
DROP PROCEDURE [dbo].[empleados_nuevos]
GO
ALTER TABLE [dbo].[Donadores] DROP CONSTRAINT [CHK_PP]
GO
ALTER TABLE [dbo].[Salidas] DROP CONSTRAINT [LFF_Fisico]
GO
ALTER TABLE [dbo].[Salidas] DROP CONSTRAINT [LFF_Empleado]
GO
ALTER TABLE [dbo].[Regresos] DROP CONSTRAINT [LFFF_Fisico]
GO
ALTER TABLE [dbo].[Regresos] DROP CONSTRAINT [LFFF_Empleado]
GO
ALTER TABLE [dbo].[Prestamos] DROP CONSTRAINT [LFFFF_Fisico]
GO
ALTER TABLE [dbo].[Prestamos] DROP CONSTRAINT [LFF_Libro]
GO
ALTER TABLE [dbo].[Prestamos] DROP CONSTRAINT [LF_Usuario]
GO
ALTER TABLE [dbo].[Prestamos] DROP CONSTRAINT [LF_Empleado]
GO
ALTER TABLE [dbo].[LibrosFis] DROP CONSTRAINT [FK_Libro]
GO
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT [FK_Transicion]
GO
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT [FK_Fisico]
GO
ALTER TABLE [dbo].[Estado] DROP CONSTRAINT [LF_Transicion]
GO
ALTER TABLE [dbo].[Estado] DROP CONSTRAINT [LF_Fisico]
GO
ALTER TABLE [dbo].[Donaciones] DROP CONSTRAINT [LF_Libro]
GO
ALTER TABLE [dbo].[Donaciones] DROP CONSTRAINT [LF_Dona]
GO
/****** Object:  Index [INDX_Usuario_NombreCompletoUsu]    Script Date: 02/11/2019 22:59:21 ******/
DROP INDEX [INDX_Usuario_NombreCompletoUsu] ON [dbo].[Usuarios]
GO
/****** Object:  Index [INDX_Empleado_NombreCompletoEmp]    Script Date: 02/11/2019 22:59:21 ******/
DROP INDEX [INDX_Empleado_NombreCompletoEmp] ON [dbo].[Empleados]
GO
/****** Object:  Index [INDX_Donador_NombreCompletoDon]    Script Date: 02/11/2019 22:59:21 ******/
DROP INDEX [INDX_Donador_NombreCompletoDon] ON [dbo].[Donadores]
GO
/****** Object:  View [dbo].[Vista_TransicionesLibro]    Script Date: 02/11/2019 22:59:21 ******/
DROP VIEW [dbo].[Vista_TransicionesLibro]
GO
/****** Object:  View [dbo].[Vista_Titulo]    Script Date: 02/11/2019 22:59:21 ******/
DROP VIEW [dbo].[Vista_Titulo]
GO
/****** Object:  View [dbo].[Vista_NombreTransicion]    Script Date: 02/11/2019 22:59:21 ******/
DROP VIEW [dbo].[Vista_NombreTransicion]
GO
/****** Object:  View [dbo].[Vista_Estado]    Script Date: 02/11/2019 22:59:21 ******/
DROP VIEW [dbo].[Vista_Estado]
GO
/****** Object:  View [dbo].[Vista_Donador]    Script Date: 02/11/2019 22:59:21 ******/
DROP VIEW [dbo].[Vista_Donador]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[Transiciones]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Transiciones]
GO
/****** Object:  Table [dbo].[Salidas]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Salidas]
GO
/****** Object:  Table [dbo].[Regresos]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Regresos]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Prestamos]
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Multas]
GO
/****** Object:  Table [dbo].[LibrosFis]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[LibrosFis]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Libros]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Historial]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Estado]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Empleados]
GO
/****** Object:  Table [dbo].[Donadores]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Donadores]
GO
/****** Object:  Table [dbo].[Donaciones]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[Donaciones]
GO
/****** Object:  Table [dbo].[DatosUsuarios]    Script Date: 02/11/2019 22:59:21 ******/
DROP TABLE [dbo].[DatosUsuarios]
GO
/****** Object:  UserDefinedFunction [dbo].[TotalMulta]    Script Date: 02/11/2019 22:59:21 ******/
DROP FUNCTION [dbo].[TotalMulta]
GO
USE [master]
GO
/****** Object:  Database [Biblio]    Script Date: 02/11/2019 22:59:21 ******/
DROP DATABASE [Biblio]
GO
/****** Object:  Database [Biblio]    Script Date: 02/11/2019 22:59:21 ******/
CREATE DATABASE [Biblio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Biblio.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Biblio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Biblio_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblio]
GO
/****** Object:  UserDefinedFunction [dbo].[TotalMulta]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[TotalMulta](@IdUsuario int) RETURNS INT
AS
BEGIN 
DECLARE @Total int
SELECT @Total = (IdMultas * Canitdad) FROM Multas where IdUsuario= @IdUsuario
RETURN @Total 
END
GO
/****** Object:  Table [dbo].[DatosUsuarios]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatosUsuarios](
	[NombreUsu] [varchar](255) NULL,
	[ApellidoUsu] [varchar](255) NULL,
	[ApellidoUsu2] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Donaciones]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donaciones](
	[IdDonacion] [int] NOT NULL,
	[IdDona] [int] NULL,
	[IdLibro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDonacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Donadores]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Donadores](
	[IdDona] [int] NOT NULL,
	[NombreDon] [varchar](255) NULL,
	[ApellidoDon] [varchar](255) NULL,
	[ApellidoDon2] [varchar](255) NULL CONSTRAINT [DFL_APN]  DEFAULT ('no tiene'),
	[NombreCompDon]  AS (((([NombreDon]+' ')+[ApellidoDon])+' ')+[ApellidoDon2]),
PRIMARY KEY CLUSTERED 
(
	[IdDona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] NOT NULL,
	[NombreEmp] [varchar](255) NOT NULL,
	[ApellidoEmp] [varchar](255) NOT NULL,
	[ApellidoEmp2] [varchar](255) NOT NULL CONSTRAINT [DFL_AP2E]  DEFAULT ('NO TIENE'),
	[DireccionEmp] [varchar](255) NOT NULL,
	[EmailEmp] [varchar](255) NOT NULL,
	[NombreCompEmp]  AS (((([NombreEmp]+' ')+[ApellidoEmp])+' ')+[ApellidoEmp2]),
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] NOT NULL,
	[IdFisico] [int] NULL,
	[IdTransicion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Historial]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[IdHistorial] [int] NOT NULL,
	[IdFisico] [int] NULL,
	[IdTransicion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libros]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [int] NOT NULL,
	[Titulo] [varchar](255) NULL,
	[NombreAutor] [varchar](255) NULL,
	[AñoPubli] [varchar](255) NULL,
	[Editorial] [varchar](255) NULL,
	[FichaBiblio]  AS (((((([Titulo]+' ')+[NombreAutor])+' ')+[AñoPubli])+' ')+[Editorial]),
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LibrosFis]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LibrosFis](
	[IdFisico] [int] NOT NULL,
	[IdLibro] [int] NULL,
	[Librero] [varchar](2) NULL,
	[Fila] [varchar](2) NULL,
	[Seccion] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFisico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multas](
	[IdMultas] [int] NOT NULL,
	[Canitdad] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMultas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] NOT NULL,
	[IdFisico] [int] NULL,
	[IdLibro] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdEmpleado] [int] NULL,
	[FechaSalida] [date] NULL CONSTRAINT [DFL_PRESTAMOS]  DEFAULT (getdate()),
	[FechaRegreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regresos]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regresos](
	[IdRegreso] [int] NOT NULL,
	[IdFisico] [int] NULL,
	[IdEmpleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Salidas]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[IdSalida] [int] NOT NULL,
	[IdFisico] [int] NULL,
	[IdEmpleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transiciones]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transiciones](
	[IdTransicion] [int] NOT NULL,
	[NombreTr] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] NOT NULL,
	[NombreUsu] [varchar](255) NULL,
	[ApellidoUsu] [varchar](255) NULL,
	[ApellidoUsu2] [varchar](255) NULL CONSTRAINT [DFL_AP2U]  DEFAULT ('NO TIENE'),
	[Direccion] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[NombreCompUsu]  AS (((([NombreUsu]+' ')+[ApellidoUsu])+' ')+[ApellidoUsu2]),
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Vista_Donador]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Donador] AS
SELECT d.IdLibro, n.NombreDon
FROM Donaciones d inner join Donadores n
ON d.IdDona = n.IdDona
GO
/****** Object:  View [dbo].[Vista_Estado]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Estado] AS
SELECT l.IdLibro, e.IdEstado
FROM LibrosFis l inner join Estado e
ON l.IdFisico = e.IdFisico
GO
/****** Object:  View [dbo].[Vista_NombreTransicion]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_NombreTransicion] AS
SELECT h.IdTransicion, t.NombreTr
FROM Historial h inner join Transiciones t
ON h.IdTransicion = t.IdTransicion
GO
/****** Object:  View [dbo].[Vista_Titulo]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Titulo] AS
SELECT l.Titulo, f.IdFisico
FROM Libros l inner join LibrosFis f
ON l.IdLibro = f.IdLibro
GO
/****** Object:  View [dbo].[Vista_TransicionesLibro]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_TransicionesLibro] AS
SELECT f.IdFisico, h.idTransicion
FROM LibrosFis f inner join Historial h
ON f.IdFisico = h.IdFisico
GO
INSERT [dbo].[DatosUsuarios] ([NombreUsu], [ApellidoUsu], [ApellidoUsu2]) VALUES (N'Gloria', N'AROCAS ', N'PASADAS')
INSERT [dbo].[DatosUsuarios] ([NombreUsu], [ApellidoUsu], [ApellidoUsu2]) VALUES (N'QUERALT', N'Sandoval', N'GÓMEZ')
INSERT [dbo].[DatosUsuarios] ([NombreUsu], [ApellidoUsu], [ApellidoUsu2]) VALUES (N'JOAN', N'AYALA ', N'Rodriguez')
INSERT [dbo].[Donaciones] ([IdDonacion], [IdDona], [IdLibro]) VALUES (1, 1, 1)
INSERT [dbo].[Donaciones] ([IdDonacion], [IdDona], [IdLibro]) VALUES (2, 2, 6)
INSERT [dbo].[Donaciones] ([IdDonacion], [IdDona], [IdLibro]) VALUES (3, 3, 2)
INSERT [dbo].[Donadores] ([IdDona], [NombreDon], [ApellidoDon], [ApellidoDon2]) VALUES (1, N'RAQUEL', N'AVILA ', N'MASJUAN')
INSERT [dbo].[Donadores] ([IdDona], [NombreDon], [ApellidoDon], [ApellidoDon2]) VALUES (2, N'ENRIC', N'PARRAMON ', N'FLORES')
INSERT [dbo].[Donadores] ([IdDona], [NombreDon], [ApellidoDon], [ApellidoDon2]) VALUES (3, N'MARTA', N'AGUILAR ', N'RAMOS')
INSERT [dbo].[Empleados] ([IdEmpleado], [NombreEmp], [ApellidoEmp], [ApellidoEmp2], [DireccionEmp], [EmailEmp]) VALUES (1, N'Jorge', N'Leyva', N'Mota', N'Bagdad 73', N'jorgeleyvs@biblio.com')
INSERT [dbo].[Empleados] ([IdEmpleado], [NombreEmp], [ApellidoEmp], [ApellidoEmp2], [DireccionEmp], [EmailEmp]) VALUES (2, N'Alann', N'Villegas', N'Rodriguez', N'Ciclon 234', N'jalr22@biblio.com')
INSERT [dbo].[Empleados] ([IdEmpleado], [NombreEmp], [ApellidoEmp], [ApellidoEmp2], [DireccionEmp], [EmailEmp]) VALUES (3, N'Karina', N'Carrera', N'Gonzalez', N'Roble 25', N'karicarreritas@biblio.com')
INSERT [dbo].[Estado] ([IdEstado], [IdFisico], [IdTransicion]) VALUES (1, 1, 1)
INSERT [dbo].[Estado] ([IdEstado], [IdFisico], [IdTransicion]) VALUES (2, 2, 1)
INSERT [dbo].[Estado] ([IdEstado], [IdFisico], [IdTransicion]) VALUES (3, 3, 1)
INSERT [dbo].[Historial] ([IdHistorial], [IdFisico], [IdTransicion]) VALUES (1, 1, 1)
INSERT [dbo].[Historial] ([IdHistorial], [IdFisico], [IdTransicion]) VALUES (2, 2, 1)
INSERT [dbo].[Historial] ([IdHistorial], [IdFisico], [IdTransicion]) VALUES (3, 3, 2)
INSERT [dbo].[Libros] ([IdLibro], [Titulo], [NombreAutor], [AñoPubli], [Editorial]) VALUES (1, N'Harry Potter y la Piedra Filosofal', N'J.K. Rowling', N'1997', N'Salamandra')
INSERT [dbo].[Libros] ([IdLibro], [Titulo], [NombreAutor], [AñoPubli], [Editorial]) VALUES (2, N'Harry Potter y la Cámara Secreta', N'J.K. Rowling', N'1998', N'Salamandra')
INSERT [dbo].[Libros] ([IdLibro], [Titulo], [NombreAutor], [AñoPubli], [Editorial]) VALUES (3, N'Harry Potter y el Prisioner de Azkaban', N'J.K. Rowling', N'1999', N'Salamandra')
INSERT [dbo].[LibrosFis] ([IdFisico], [IdLibro], [Librero], [Fila], [Seccion]) VALUES (1, 1, N'1', N'1', N'CF')
INSERT [dbo].[LibrosFis] ([IdFisico], [IdLibro], [Librero], [Fila], [Seccion]) VALUES (2, 1, N'1', N'1', N'CF')
INSERT [dbo].[LibrosFis] ([IdFisico], [IdLibro], [Librero], [Fila], [Seccion]) VALUES (3, 1, N'1', N'1', N'CF')
INSERT [dbo].[Multas] ([IdMultas], [Canitdad], [IdUsuario]) VALUES (1, 20, 1)
INSERT [dbo].[Multas] ([IdMultas], [Canitdad], [IdUsuario]) VALUES (2, 40, 2)
INSERT [dbo].[Multas] ([IdMultas], [Canitdad], [IdUsuario]) VALUES (3, 60, 3)
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdFisico], [IdLibro], [IdUsuario], [IdEmpleado], [FechaSalida], [FechaRegreso]) VALUES (1, 1, 2, 5, 3, CAST(N'2019-11-02' AS Date), CAST(N'2019-11-05' AS Date))
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdFisico], [IdLibro], [IdUsuario], [IdEmpleado], [FechaSalida], [FechaRegreso]) VALUES (2, 2, 1, 10, 1, CAST(N'2019-11-02' AS Date), CAST(N'2019-11-05' AS Date))
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdFisico], [IdLibro], [IdUsuario], [IdEmpleado], [FechaSalida], [FechaRegreso]) VALUES (3, 3, 5, 12, 2, CAST(N'2019-11-02' AS Date), CAST(N'2019-11-05' AS Date))
INSERT [dbo].[Regresos] ([IdRegreso], [IdFisico], [IdEmpleado]) VALUES (1, 1, 1)
INSERT [dbo].[Regresos] ([IdRegreso], [IdFisico], [IdEmpleado]) VALUES (2, 2, 1)
INSERT [dbo].[Regresos] ([IdRegreso], [IdFisico], [IdEmpleado]) VALUES (3, 3, 1)
INSERT [dbo].[Salidas] ([IdSalida], [IdFisico], [IdEmpleado]) VALUES (1, 5, 2)
INSERT [dbo].[Salidas] ([IdSalida], [IdFisico], [IdEmpleado]) VALUES (2, 3, 1)
INSERT [dbo].[Salidas] ([IdSalida], [IdFisico], [IdEmpleado]) VALUES (3, 4, 2)
INSERT [dbo].[Transiciones] ([IdTransicion], [NombreTr]) VALUES (1, N'DISPONIBLE')
INSERT [dbo].[Transiciones] ([IdTransicion], [NombreTr]) VALUES (2, N'PRESTADO')
INSERT [dbo].[Transiciones] ([IdTransicion], [NombreTr]) VALUES (3, N'EXTRAVIADO')
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsu], [ApellidoUsu], [ApellidoUsu2], [Direccion], [Email]) VALUES (1, N'Gloria', N'AROCAS ', N'PASADAS', N'PADRÓ , 109', N'africa@altecom.es')
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsu], [ApellidoUsu], [ApellidoUsu2], [Direccion], [Email]) VALUES (2, N'QUERALT', N'Sandoval', N'GÓMEZ', N'CASA CORDELLAS , ', N'agata@hotmail.com')
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsu], [ApellidoUsu], [ApellidoUsu2], [Direccion], [Email]) VALUES (3, N'JOAN', N'AYALA ', N'Rodriguez', N'DOCTOR FLEMING , 11', N'yeye@hotmail.com')
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [INDX_Donador_NombreCompletoDon]    Script Date: 02/11/2019 22:59:21 ******/
CREATE NONCLUSTERED INDEX [INDX_Donador_NombreCompletoDon] ON [dbo].[Donadores]
(
	[NombreCompDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [INDX_Empleado_NombreCompletoEmp]    Script Date: 02/11/2019 22:59:21 ******/
CREATE NONCLUSTERED INDEX [INDX_Empleado_NombreCompletoEmp] ON [dbo].[Empleados]
(
	[NombreCompEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [INDX_Usuario_NombreCompletoUsu]    Script Date: 02/11/2019 22:59:21 ******/
CREATE NONCLUSTERED INDEX [INDX_Usuario_NombreCompletoUsu] ON [dbo].[Usuarios]
(
	[NombreCompUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Donaciones]  WITH CHECK ADD  CONSTRAINT [LF_Dona] FOREIGN KEY([IdDona])
REFERENCES [dbo].[Donadores] ([IdDona])
GO
ALTER TABLE [dbo].[Donaciones] CHECK CONSTRAINT [LF_Dona]
GO
ALTER TABLE [dbo].[Donaciones]  WITH CHECK ADD  CONSTRAINT [LF_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Donaciones] CHECK CONSTRAINT [LF_Libro]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [LF_Fisico] FOREIGN KEY([IdFisico])
REFERENCES [dbo].[LibrosFis] ([IdFisico])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [LF_Fisico]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [LF_Transicion] FOREIGN KEY([IdTransicion])
REFERENCES [dbo].[Transiciones] ([IdTransicion])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [LF_Transicion]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [FK_Fisico] FOREIGN KEY([IdFisico])
REFERENCES [dbo].[LibrosFis] ([IdFisico])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [FK_Fisico]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [FK_Transicion] FOREIGN KEY([IdTransicion])
REFERENCES [dbo].[Transiciones] ([IdTransicion])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [FK_Transicion]
GO
ALTER TABLE [dbo].[LibrosFis]  WITH CHECK ADD  CONSTRAINT [FK_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[LibrosFis] CHECK CONSTRAINT [FK_Libro]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [LF_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [LF_Empleado]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [LF_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [LF_Usuario]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [LFF_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [LFF_Libro]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [LFFFF_Fisico] FOREIGN KEY([IdFisico])
REFERENCES [dbo].[LibrosFis] ([IdFisico])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [LFFFF_Fisico]
GO
ALTER TABLE [dbo].[Regresos]  WITH CHECK ADD  CONSTRAINT [LFFF_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Regresos] CHECK CONSTRAINT [LFFF_Empleado]
GO
ALTER TABLE [dbo].[Regresos]  WITH CHECK ADD  CONSTRAINT [LFFF_Fisico] FOREIGN KEY([IdFisico])
REFERENCES [dbo].[LibrosFis] ([IdFisico])
GO
ALTER TABLE [dbo].[Regresos] CHECK CONSTRAINT [LFFF_Fisico]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [LFF_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [LFF_Empleado]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [LFF_Fisico] FOREIGN KEY([IdFisico])
REFERENCES [dbo].[LibrosFis] ([IdFisico])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [LFF_Fisico]
GO
ALTER TABLE [dbo].[Donadores]  WITH CHECK ADD  CONSTRAINT [CHK_PP] CHECK  (([IdDona]>(0)))
GO
ALTER TABLE [dbo].[Donadores] CHECK CONSTRAINT [CHK_PP]
GO
/****** Object:  StoredProcedure [dbo].[empleados_nuevos]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[empleados_nuevos]
AS
select * from Empleados
where IdEmpleado > 2
GO
/****** Object:  StoredProcedure [dbo].[libros_2009]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[libros_2009]
AS
select * from Libros
where AñoPubli = '1999'
exec libros_2009
GO
/****** Object:  StoredProcedure [dbo].[libros_dañados]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[libros_dañados]
AS
select IdFisico from Estado
where IdTransicion = '4'
GO
/****** Object:  StoredProcedure [dbo].[libros_Harry]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[libros_Harry]
AS
select * from Libros
where NombreAutor = 'J.K. Rowling'
GO
/****** Object:  StoredProcedure [dbo].[libros_salidos_de]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[libros_salidos_de]
AS
select IdFisico from Salidas
where IdEmpleado = '2'
GO
/****** Object:  Trigger [dbo].[Libro_Insertado]    Script Date: 02/11/2019 22:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Libro_Insertado] 
on [dbo].[Libros] for insert 
as 
insert into Libros values('1' , 'Caperucita Roja' , 'Dominio Publico' , '1569' , 'Editorial Hernandez')
GO
USE [master]
GO
